In [2]:
import sys
sys.path.append("..")
from preprocess.src.label_features import atr, position_price_by_atr, calc_force_entry_price, position_force_entry_price, position_label

In [3]:
import os
import pandas as pd
sample_data = os.path.join("../data/preprocess/cpcv_fold/Bitcoin/fold_0/senario_0/test/2.parquet.gzip")
assert os.path.exists(sample_data)

sample_df = pd.read_parquet(sample_data, engine="pyarrow")
sample_df.head()

,Open,High,Low,Close,Volume,sma20,target
timestamp,,,,,,,
1553904060,4109.431667,4180.100000,4087.40,4110.406667,74.016370,0.994353,1
1553904120,4110.416667,4180.019894,4089.90,4110.876667,110.968400,0.994119,1
1553904180,4111.065000,4178.700000,4091.20,4111.376667,38.727471,0.994181,1
1553904240,4111.326667,4180.700000,4091.40,4111.316667,77.287072,0.993942,1
1553904300,4110.959999,4179.479995,4088.67,4109.298333,78.069738,0.994335,1

In [4]:
sample_df["atr"] = atr(sample_df)
sample_df.head(20)

,Open,High,Low,Close,Volume,sma20,target,atr
timestamp,,,,,,,,
1553904060,4109.431667,4180.100000,4087.40,4110.406667,74.016370,0.994353,1,NaN
1553904120,4110.416667,4180.019894,4089.90,4110.876667,110.968400,0.994119,1,NaN
1553904180,4111.065000,4178.700000,4091.20,4111.376667,38.727471,0.994181,1,NaN
1553904240,4111.326667,4180.700000,4091.40,4111.316667,77.287072,0.993942,1,NaN
1553904300,4110.959999,4179.479995,4088.67,4109.298333,78.069738,0.994335,1,NaN
1553904360,4109.301667,4179.100000,4086.00,4107.108333,78.499615,0.994559,1,NaN
1553904420,4106.853333,4177.233687,4085.30,4106.810000,64.962340,0.994755,1,NaN
1553904480,4104.010000,4176.400000,4085.20,4104.568571,65.138094,0.994715,1,NaN
1553904540,4105.004286,4176.400000,4086.00,4105.831429,63.648043,0.994535,1,NaN
1553904600,4106.037143,4177.200000,4087.70,4106.570000,83.285925,0.994184,1,NaN
1553904660,4106.618571,4178.600000,4087.60,4107.720000,47.890314,0.993963,1,NaN
1553904720,4107.832857,4178.000000,4089.20,4107.940000,69.937133,0.993772,1,NaN
1553904780,4107.965714,4178.000000,4089.30,4108.754286,53.304949,0.993696,1,NaN
1553904840,4108.655714,4181.500000,4091.17,4109.994286,173.320337,0.993019,1,90.385255
1553904900,4110.112857,4182.900000,4091.33,4110.652857,76.373447,0.992865,1,90.304541
1553904960,4110.272857,4182.300000,4090.55,4109.855714,93.088939,0.993097,1,90.420977
1553905020,4110.012857,4182.400000,4091.53,4111.050696,60.985994,0.993070,1,90.661692
1553905080,4111.436411,4185.000000,4093.48,4111.904286,60.297749,0.992701,1,90.820263
1553905140,4114.750000,4185.100000,4093.70,4114.631667,77.146617,0.992875,1,90.862406
1553905200,4114.511667,4185.100000,4093.11,4113.676667,96.113075,0.993118,1,90.783121

In [5]:
sample_df["buy_price"] = position_price_by_atr(sample_df, position="buy")
sample_df.head(20)

,Open,High,Low,Close,Volume,sma20,target,atr,buy_price
timestamp,,,,,,,,,
1553904060,4109.431667,4180.100000,4087.40,4110.406667,74.016370,0.994353,1,NaN,4109.406667
1553904120,4110.416667,4180.019894,4089.90,4110.876667,110.968400,0.994119,1,NaN,4109.876667
1553904180,4111.065000,4178.700000,4091.20,4111.376667,38.727471,0.994181,1,NaN,4110.376667
1553904240,4111.326667,4180.700000,4091.40,4111.316667,77.287072,0.993942,1,NaN,4110.316667
1553904300,4110.959999,4179.479995,4088.67,4109.298333,78.069738,0.994335,1,NaN,4108.298333
1553904360,4109.301667,4179.100000,4086.00,4107.108333,78.499615,0.994559,1,NaN,4106.108333
1553904420,4106.853333,4177.233687,4085.30,4106.810000,64.962340,0.994755,1,NaN,4105.810000
1553904480,4104.010000,4176.400000,4085.20,4104.568571,65.138094,0.994715,1,NaN,4103.568571
1553904540,4105.004286,4176.400000,4086.00,4105.831429,63.648043,0.994535,1,NaN,4104.831429
1553904600,4106.037143,4177.200000,4087.70,4106.570000,83.285925,0.994184,1,NaN,4105.570000
1553904660,4106.618571,4178.600000,4087.60,4107.720000,47.890314,0.993963,1,NaN,4106.720000
1553904720,4107.832857,4178.000000,4089.20,4107.940000,69.937133,0.993772,1,NaN,4106.940000
1553904780,4107.965714,4178.000000,4089.30,4108.754286,53.304949,0.993696,1,NaN,4107.754286
1553904840,4108.655714,4181.500000,4091.17,4109.994286,173.320337,0.993019,1,90.385255,4064.994286
1553904900,4110.112857,4182.900000,4091.33,4110.652857,76.373447,0.992865,1,90.304541,4065.652857
1553904960,4110.272857,4182.300000,4090.55,4109.855714,93.088939,0.993097,1,90.420977,4064.855714
1553905020,4110.012857,4182.400000,4091.53,4111.050696,60.985994,0.993070,1,90.661692,4066.050696
1553905080,4111.436411,4185.000000,4093.48,4111.904286,60.297749,0.992701,1,90.820263,4066.904286
1553905140,4114.750000,4185.100000,4093.70,4114.631667,77.146617,0.992875,1,90.862406,4069.631667
1553905200,4114.511667,4185.100000,4093.11,4113.676667,96.113075,0.993118,1,90.783121,4068.676667

In [6]:
sample_df["sell_price"] = position_price_by_atr(sample_df, position="sell")
sample_df.head(20)

,Open,High,Low,Close,Volume,sma20,target,atr,buy_price,sell_price
timestamp,,,,,,,,,,
1553904060,4109.431667,4180.100000,4087.40,4110.406667,74.016370,0.994353,1,NaN,4109.406667,4111.406667
1553904120,4110.416667,4180.019894,4089.90,4110.876667,110.968400,0.994119,1,NaN,4109.876667,4111.876667
1553904180,4111.065000,4178.700000,4091.20,4111.376667,38.727471,0.994181,1,NaN,4110.376667,4112.376667
1553904240,4111.326667,4180.700000,4091.40,4111.316667,77.287072,0.993942,1,NaN,4110.316667,4112.316667
1553904300,4110.959999,4179.479995,4088.67,4109.298333,78.069738,0.994335,1,NaN,4108.298333,4110.298333
1553904360,4109.301667,4179.100000,4086.00,4107.108333,78.499615,0.994559,1,NaN,4106.108333,4108.108333
1553904420,4106.853333,4177.233687,4085.30,4106.810000,64.962340,0.994755,1,NaN,4105.810000,4107.810000
1553904480,4104.010000,4176.400000,4085.20,4104.568571,65.138094,0.994715,1,NaN,4103.568571,4105.568571
1553904540,4105.004286,4176.400000,4086.00,4105.831429,63.648043,0.994535,1,NaN,4104.831429,4106.831429
1553904600,4106.037143,4177.200000,4087.70,4106.570000,83.285925,0.994184,1,NaN,4105.570000,4107.570000
1553904660,4106.618571,4178.600000,4087.60,4107.720000,47.890314,0.993963,1,NaN,4106.720000,4108.720000
1553904720,4107.832857,4178.000000,4089.20,4107.940000,69.937133,0.993772,1,NaN,4106.940000,4108.940000
1553904780,4107.965714,4178.000000,4089.30,4108.754286,53.304949,0.993696,1,NaN,4107.754286,4109.754286
1553904840,4108.655714,4181.500000,4091.17,4109.994286,173.320337,0.993019,1,90.385255,4064.994286,4154.994286
1553904900,4110.112857,4182.900000,4091.33,4110.652857,76.373447,0.992865,1,90.304541,4065.652857,4155.652857
1553904960,4110.272857,4182.300000,4090.55,4109.855714,93.088939,0.993097,1,90.420977,4064.855714,4154.855714
1553905020,4110.012857,4182.400000,4091.53,4111.050696,60.985994,0.993070,1,90.661692,4066.050696,4156.050696
1553905080,4111.436411,4185.000000,4093.48,4111.904286,60.297749,0.992701,1,90.820263,4066.904286,4156.904286
1553905140,4114.750000,4185.100000,4093.70,4114.631667,77.146617,0.992875,1,90.862406,4069.631667,4159.631667
1553905200,4114.511667,4185.100000,4093.11,4113.676667,96.113075,0.993118,1,90.783121,4068.676667,4158.676667

In [7]:
sample_df = sample_df[:1000]
sample_df["buy_fep"], sample_df["buy_fet"] = calc_force_entry_price(sample_df["buy_price"].values, sample_df["Low"].values, position="buy")
sample_df.head(20)

ConstantInferenceError: Failed in nopython mode pipeline (step: nopython rewrites)
Constant inference not possible for: $44build_string.6 + $const42.5

File "../preprocess/src/label_features.py", line 38:
def calc_force_entry_price(entry_price: np.ndarray, boundary: np.ndarray, pips: float = 1.0, position: str = "buy") -> Tuple[np.ndarray, np.ndarray]:
    <source elided>
    if position not in ["buy", "sell"]:
        raise ValueError(f"Invalid position 'value' {position}. position should be 'buy' or 'sell'")
        ^

In [ ]:
sample_df["sell_fep"], sample_df["sell_fet"] = calc_force_entry_price(sample_df["sell_price"].values, sample_df["High"].values, position="sell")
sample_df.head(20)

,Open,High,Low,Close,Volume,sma20,target,atr,buy_price,sell_price,buy_fep,buy_fet,sell_fep,sell_fet
timestamp,,,,,,,,,,,,,,
1553904060,4109.431667,4180.100000,4087.40,4110.406667,74.016370,0.994353,1,NaN,4109.406667,4111.406667,4109.406667,1.0,4111.406667,1.0
1553904120,4110.416667,4180.019894,4089.90,4110.876667,110.968400,0.994119,1,NaN,4109.876667,4111.876667,4109.876667,1.0,4111.876667,1.0
1553904180,4111.065000,4178.700000,4091.20,4111.376667,38.727471,0.994181,1,NaN,4110.376667,4112.376667,4110.376667,1.0,4112.376667,1.0
1553904240,4111.326667,4180.700000,4091.40,4111.316667,77.287072,0.993942,1,NaN,4110.316667,4112.316667,4110.316667,1.0,4112.316667,1.0
1553904300,4110.959999,4179.479995,4088.67,4109.298333,78.069738,0.994335,1,NaN,4108.298333,4110.298333,4108.298333,1.0,4110.298333,1.0
1553904360,4109.301667,4179.100000,4086.00,4107.108333,78.499615,0.994559,1,NaN,4106.108333,4108.108333,4106.108333,1.0,4108.108333,1.0
1553904420,4106.853333,4177.233687,4085.30,4106.810000,64.962340,0.994755,1,NaN,4105.810000,4107.810000,4105.810000,1.0,4107.810000,1.0
1553904480,4104.010000,4176.400000,4085.20,4104.568571,65.138094,0.994715,1,NaN,4103.568571,4105.568571,4103.568571,1.0,4105.568571,1.0
1553904540,4105.004286,4176.400000,4086.00,4105.831429,63.648043,0.994535,1,NaN,4104.831429,4106.831429,4104.831429,1.0,4106.831429,1.0
1553904600,4106.037143,4177.200000,4087.70,4106.570000,83.285925,0.994184,1,NaN,4105.570000,4107.570000,4105.570000,1.0,4107.570000,1.0
1553904660,4106.618571,4178.600000,4087.60,4107.720000,47.890314,0.993963,1,NaN,4106.720000,4108.720000,4106.720000,1.0,4108.720000,1.0
1553904720,4107.832857,4178.000000,4089.20,4107.940000,69.937133,0.993772,1,NaN,4106.940000,4108.940000,4106.940000,1.0,4108.940000,1.0
1553904780,4107.965714,4178.000000,4089.30,4108.754286,53.304949,0.993696,1,NaN,4107.754286,4109.754286,4107.754286,1.0,4109.754286,1.0
1553904840,4108.655714,4181.500000,4091.17,4109.994286,173.320337,0.993019,1,90.385255,4064.994286,4154.994286,NaN,NaN,4154.994286,1.0
1553904900,4110.112857,4182.900000,4091.33,4110.652857,76.373447,0.992865,1,90.304541,4065.652857,4155.652857,NaN,NaN,4155.652857,1.0
1553904960,4110.272857,4182.300000,4090.55,4109.855714,93.088939,0.993097,1,90.420977,4064.855714,4154.855714,NaN,NaN,4154.855714,1.0
1553905020,4110.012857,4182.400000,4091.53,4111.050696,60.985994,0.993070,1,90.661692,4066.050696,4156.050696,NaN,NaN,4156.050696,1.0
1553905080,4111.436411,4185.000000,4093.48,4111.904286,60.297749,0.992701,1,90.820263,4066.904286,4156.904286,NaN,NaN,4156.904286,1.0
1553905140,4114.750000,4185.100000,4093.70,4114.631667,77.146617,0.992875,1,90.862406,4069.631667,4159.631667,NaN,NaN,4159.631667,1.0
1553905200,4114.511667,4185.100000,4093.11,4113.676667,96.113075,0.993118,1,90.783121,4068.676667,4158.676667,NaN,NaN,4158.676667,1.0

In [ ]:
df = pd.DataFrame()
df["buy_fep"], df["buy_fet"] = position_force_entry_price(sample_df, position="buy")
df.head(20)

    buy_fep  buy_fet
0       NaN      NaN
1       NaN      NaN
2       NaN      NaN
3       NaN      NaN
4       NaN      NaN
5       NaN      NaN
6       NaN      NaN
7       NaN      NaN
8       NaN      NaN
9       NaN      NaN
10      NaN      NaN
11      NaN      NaN
12      NaN      NaN
13      NaN      NaN
14      NaN      NaN
15      NaN      NaN
16      NaN      NaN
17      NaN      NaN
18      NaN      NaN
19      NaN      NaN

In [ ]:
df = pd.DataFrame()
df["buy_fep"], df["buy_fet"] = position_force_entry_price(sample_df, position="sell")
df.head(20)

,Open,High,Low,Close,Volume,sma20,target,atr,buy_price,sell_price,buy_fep,buy_fet,sell_fep,sell_fet
timestamp,,,,,,,,,,,,,,
1553904060,4109.431667,4180.100000,4087.40,4110.406667,74.016370,0.994353,1,NaN,4109.406667,4111.406667,4109.406667,1.0,4111.406667,1.0
1553904120,4110.416667,4180.019894,4089.90,4110.876667,110.968400,0.994119,1,NaN,4109.876667,4111.876667,4109.876667,1.0,4111.876667,1.0
1553904180,4111.065000,4178.700000,4091.20,4111.376667,38.727471,0.994181,1,NaN,4110.376667,4112.376667,4110.376667,1.0,4112.376667,1.0
1553904240,4111.326667,4180.700000,4091.40,4111.316667,77.287072,0.993942,1,NaN,4110.316667,4112.316667,4110.316667,1.0,4112.316667,1.0
1553904300,4110.959999,4179.479995,4088.67,4109.298333,78.069738,0.994335,1,NaN,4108.298333,4110.298333,4108.298333,1.0,4110.298333,1.0